html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-header {
    padding-top: 49px;
    background-color: #eeeeee;
}

.catalog-header {
    padding-top: 49px;
    background-color: #eeeeee;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.navigation {
    display: flex;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    
}

.navigation-list {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 202px;
    align-items: center;
    list-style: none;
    max-width: 700px;
    flex-wrap: wrap;
    
}

.navigation-list li:not(:last-child) {
    margin-right: 45px;
}


.user-area {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: auto;
    align-items: center;
    list-style: none;   
}

.user-area img {
    margin-right: 26px;
}

.logo:hover,
.logo:focus {
   opacity: 0.8; 
}

.logo:active {
    opacity: 0.3;
}

.navigation-list-item a,
.user-area a {
    color: #000000;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}

.navigation-list-item .current,
.user-area .current {
    color: white;
}

.navigation-list-item a:hover,
.navigation-list-item a:focus,
.user-area a:hover,
.user-area a:focus {
    color: #fb565a;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}

.navigation-list-item a:active,
.user-area a:active {
    opacity: 0.3;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}

.slider {
    background-color: #eeeeee;  
}

.slider .container {
    position: relative;
}

.slider-item {
    display: flex;
    margin: 0;
    padding: 0;      
}


.slider-text {
    margin: 0;
    padding: 0;
    max-width: 515px;
    flex-wrap: wrap;
    padding-top: 85px;
    padding-bottom: 80px;
}

.slider-item.slider-one {
    background-image: url("../img/slide-1.png");
    background-repeat: no-repeat;
    background-size: 698px 413px;
    background-position: right bottom;
    margin-right: 31px;

}

.slider-item.slider-two {
    background-image: url("../img/slide-2.png");
    background-repeat: no-repeat;
    background-size: 663px 430px;
    background-position: right bottom;
}

.slider-item.slider-three {
    background-image: url("../img/slide-3.png");
    background-repeat: no-repeat;
    background-size: 759px 411px;
    background-position: right bottom;
}

.slider-item h2 {
    margin: 0;
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
}

.slider-item p {
    margin: 0;
    color: #283136;
    margin-top: 28px;
    margin-bottom: 42px;
}

.slider .btn {   
    width: 240px;
}

.slider-three,
.slider-two {
    display: none;
}

.slider-indicator {
    content: url(../img/slider_indicator.png);
    width: 88px;
    height: 18px;
    position: absolute;
    left: calc(50% - 44px);
    top: 335px;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 50px;
    color: #ffffff;
    font-weight: 500;
    line-height: 18px;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: #fb565a; 
}

.btn:hover,
.btn:focus {
    background-color: #e74246
}

.btn:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
    color: rgba(255,255,255,0.3);
}

.btn.green {
    background-color: #00ca74;
}

.btn.green:hover,
.btn.green:focus {
    background-color: #00bc6c;
}

.btn.green:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #00aa62;
}

.btn.yellow {
    background-color: #efc84a;
}

.btn.yellow:hover,
.btn.yellow:focus {
    background-color: #eab534;
}

.btn.yellow:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #e5a722;
}

.contacts .btn {
    width: 219px;
    height: 50px;
    margin-top: 37px;
}

.service {
    background-color: #ffffff;
}

.service-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 80px;
    padding-bottom: 80px;
    
}

.service-list li:not(:last-child) {
    margin-right: 100px;
}

.service-list-item h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 26px;
}

.service-list-item .description {
    margin: 0;
    padding: 0;
    width: 260px;
    height: 41px;
    color: #283136;
    margin-top: 26px;
    margin-bottom: 35px;
}

.studio-wrapper {
    display: flex;
}

.about-us {
    width: 650px;
    padding-top: 80px;
    padding-bottom: 76px;
}

.about-us .title {
    margin: 0;
    padding: 0;
    width: 650px;
    height: 87px;
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    margin-bottom: 35px;
}

.about-us .description {
    margin: 0;
    padding: 0;
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 47px;
}

.list-title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    text-transform: uppercase;
}

.about-us-list {
    margin: 0;
    padding: 0;
}

.about-us-item {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 400;
    padding-top: 24px;
}

.statistic {
    margin: 0;
    padding: 0;
    margin-left: auto;
    padding-top: 248px;
    padding-bottom: 76px;

    background-image: url("../img/nerds-illustration.png");
    background-repeat: no-repeat;
    background-size: 360px 208px;
    background-position-y: 40px;
}

.statistic .title {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 41px;
}

.statistic-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 95px;
    list-style: none;
    margin-top: 30px;
}

.percent {
    margin: 0;
    padding: 0;
    font-size: 45px;
    font-weight: 700;
    line-height: 51px;
}

.statistic-item .description {
    margin: 0;
    padding: 0;
    width: 105px;
    height: 34px;
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    padding-top: 27px;
}

.partners-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 180px;
}

.partners-item {
    display: flex;
}

.partners-item a {
    opacity: 0.2;
}

.partners-item a:hover,
.partners-item a:focus {
    opacity:1;
}

.partners-item a:active {
    opacity: 0.1;
}

.catalog-header h1 {
    margin: 0;
    padding: 0;
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    padding-top: 82px;
    padding-bottom: 116px;
    text-align: center;
}

.catalog-wrap {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 63px;
    padding-bottom: 60px;
}



.filters {
    display: flex;
    margin: 0;
    padding: 0;
    width: 260px;
    
}

.catalog {
    margin: 0;
    padding: 0;
    width: 760px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
}

.catalog-list li:nth-child(odd) {
    margin-right: 40px;
}

.catalog-list li:not(:last-child) {
    margin-bottom: 33px;
}

.catalog-item {
    width: 360px;
}

.catalog-item .hidden {
    display: none;
}


.catalog .sort {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 59px;
}

.network .range {
    margin-bottom: 62px;
    box-sizing: content-box;
}

.filters fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.range-filter {
    width: 260px;
    margin-top: 49px;
  }

.filters legend {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}

.range-controls {
    position: relative;
    
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    
    background-color: #f1f1f1;
    
    border-radius: 5px;
}
  
.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}
  
.range-controls .bar {
    width: 70%;
    height: 2px;
  
    background: #00ca74;
}
  
.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    
    width: 4px;
    height: 4px;
    padding: 0;
  
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}
  
.range-controls .toggle-min {
    left: 0px;
}
  
.range-controls .toggle-max {
    left: 160px;
  }
  
  .price-controls {
    font-size: 0;
}
  
.price-controls label {
    display: inline-block;
    width: 50%;
    
    font-size: 16px;
    text-transform: uppercase;
}
  

  
.max-price {
    text-align: right;
}
  

.network .network-list {
    margin: 0;
    padding: 0;
    margin-bottom: 57px;
}

.network-list legend {
    margin-bottom: 12px;
}

.network-list p,
.network-list p:hover,
.network-list p:focus {
    margin: 0;
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 12px;
}

.network .features-list {
    margin-bottom: 50px;
}

.features-list legend {
    margin-bottom: 12px;
}

.features-list p,
.features-list p:hover,
.features-list p:focus {
    margin: 0;
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 12px;
}

.filters input {
    width: 260px;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #eeeeee;
}

.filters input:hover,
.filters input:focus {
    background-color: #dfdfdf;
}

.filters input:active {
    color: rgba(0,0,0,0.3);
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}

.price-controls input {
    width: 60px;
    height: 24px;
    padding: 8px 10px;
    margin-left: 10px;
    
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;
    
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.sort {
    margin: 0;
    padding: 0;
    display: flex;
}

.sort h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}

.sort .user-sort {
    font-size: 14px;
    line-height: 18px;
    margin-left: 296px;
}

.sort .arrow-sort {
    margin-left: auto;
}

.user-sort li:not(:last-child) {
    margin-right: 26px;
    flex-shrink: 0;
}

.sort ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.user-sort-item a {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    opacity: 0.3;
    text-transform: uppercase;
}

.user-sort-current a {
    text-transform: uppercase;
    opacity: 1;
}

.user-sort-item a:hover,
.user-sort-item a:focus {
    opacity: 0.6;
}

.user-sort-item a:active {
    color: #000000;
    opacity: 1;
}

.arrow-sort {
    line-height: 18px;
}

.arrow-sort-current a {
    opacity: 1;
}

.arrow-sort-item a {
    opacity: 0.2;
}

.arrow-sort-item a:hover,
.arrow-sort-item a:focus {
    opacity: 0.6;
}

.arrow-sort-item a:active {
    opacity: 1;
}

.catalog ul,
.pagination-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.catalog-list li:nth-last-child(2) {
    margin-bottom: 0px;
}

/* .catalog-list li:last-child {
    margin-bottom: 33px;
} */

.hidden h3 {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.hidden h3:hover,
.hidden h3:focus {
    color: #fb565a;
}

.hidden h3:active {
    color: #000000;
    opacity: 0.3;
}

.hidden .btn {
    width: 200px;
    height: 50px;
}

.hidden .btn:hover,
.hidden .btn:focus {
    width: 200px;
    height: 50px;
}

.hidden .btn:active {
    color: rgba(255,255, 255, 1);
}

.pagination-list {
    display: flex;
}

.pagination-list li {
    margin-top: 58px;
}

.pagination-list li:not(:last-child) {
    margin-right: 11px;
}

.pagination-item a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    background-color: #eeeeee;
    border-radius: 5px;
}

.pagination-item a:hover,
.pagination-item a:focus {
    background-color: #dfdfdf;
}

.pagination-item a:active {
    color: rgba(0,0,0,0.3);
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}

.pagination-item-current a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 3px solid #dbdbdb;
    border-radius: 5px;
}

.pagination-item button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 50px;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #eeeeee;
    border-radius: 5px;
    border: none;
}

.pagination-item button:hover,
.pagination-item button:focus {
    background-color: #dfdfdf;
}

.pagination-item button:active {
    color: rgba(0,0,0,0.3);
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}

.map {
    position: relative;
    display: flex;  
    justify-content: center;  
    background-color: #b5b5b5;
}


.contacts {
    width: 319px;
    padding-top: 54px;
    padding-bottom: 47px;
    padding-left: 50px;
    background-color: #ffffff;

    position: absolute;
    left: calc(50% - 580px);
    top: 54px;
}

.contacts .title {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.contacts .address {
    margin: 0;
    padding: 0;
    width: 240px;
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.contacts .phone {
    margin: 0;
    padding: 0;
    width: 240px;
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 16px;
}

.page-footer .container {
    display: flex;
    padding-top: 78px;
    padding-bottom: 76px;
}

.container .social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 261px;
    margin-right: 139px;
}

.social-item  a {
    position: relative;
    display: block;
    width: 79px;
    height: 79px;
    border-radius: 50%;
    background-color: #e1e1e1;
}

.social-item.vk img {
    position: absolute;
    left: 26px;
    top: 32px;
}

.social-item.fb img {
    position: absolute;
    left: 33px;
    top: 28px;
}

.social-item.inst img {
    position: absolute;
    left: 29px;
    top: 29px;
}

.social-item a:hover,
.social-item a:focus {
    background-color: #e74246;
}

.social-item a:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}

.social-item:active img {
    opacity: 0.3;
}

.social-list li:not(:last-child) {
    margin-right: 12px;
}

.prompt {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;    
    min-width: 545px;
}

.prompt .prompt-appeal {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 12px;
}

.prompt .prompt-discount {
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.popup {
    display: none;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 960px;
    padding: 100px;
    padding-top: 73px;
    padding-bottom: 84px;
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.write-us-title .button-close {
    padding: 0;
    margin: auto;
    position: relative;
    width: 21px;
    height: 21px;
    background-color: #ffffff;
    border: 0;
    cursor: pointer;
    opacity: 0.3;
}

.button-close::before,
.button-close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 1px;
    width: 19px;
    height: 3px;
    background-color: #e74246;
    /* opacity: 0.3; */
}

.button-close::before {
    transform: rotate(45deg);
}

.button-close::after {
    transform: rotate(-45deg);
}

.button-close:hover,
.button-close:focus,
.button-close:hover,
.button-close:focus {
    opacity: 1;
}

.button-close:active,
.button-close:active {
    opacity: 0.1;
}

.write-us-title {
    display: flex;
    justify-content: space-between;
    width: 760px;
    margin-bottom: 74px;
}


.letter-us {
    margin: 0;
    padding: 0;
    width: 740px;
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

.write-us-title button {
    margin-right: 90px;
}

.user-data {
    margin: 0;
    padding: 0;
    width: 760px;
    display: flex;
    margin-bottom: 36px;
}

.write-us label {
    margin-bottom: 12px;
}

.user-data input {
    height: 50px;
}

.user-data input {
    padding-left: 16px;
}


.user-data .half-width-name {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 360px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    margin-right: 55px;
}

.half-width-mail {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 360px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;

}

.write-us .text-letter {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 760px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    margin-right: 55px;
}

.text-letter textarea {
    margin-bottom: 47px;
    padding-top: 14px;
    padding-left: 15px;
    resize: none;
}

.half-width-name input,
.half-width-mail input,
.text-letter textarea { 
    border: 2px solid #d7dcde;
    background-color: #ffffff;
}

.half-width-name input:hover,
.half-width-mail input:hover,
.text-letter textarea:hover {
    border: 2px solid #b4b9bb
}

.half-width-name input:focus,
.half-width-mail input:focus,
.text-letter textarea:focus {
    border: none;
    border: 2px solid #000000
}

.send .btn {
    border: none;
    width: 260px;
}



