html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-header {
    display: flex;
    min-height: 132px
}

.page-header .logo {
    display: inline-flex;
    margin-top: 49px;
    margin-left: 140px;
}

.navigation {
    display: inline-flex;
    width: 100%;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    background-color: #eeeeee;
}


.navigation-list,
.user-area {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    margin: 0;
    margin-top: 83px;
    min-height: 30px;
}

.navigation-list {
    min-width: 438px;
    margin-left: 202px;
    justify-content: space-between;
}

.user-area {
   position: absolute;
   right: 140px;
}

.logo:hover,
.logo:focus {
   opacity: 0.8; 
}

.logo:active {
    opacity: 0.3;
}

.navigation-list-item a,
.user-area a {
    color: #000000;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}

.navigation-list-item .current,
.user-area .current {
    color: white;
}

.navigation-list-item a:hover,
.navigation-list-item a:focus,
.user-area a:hover,
.user-area a:focus {
    color: #fb565a;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}

.navigation-list-item a:active,
.user-area a:active {
    opacity: 0.3;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}

.slider {
    background-color: #eeeeee; 
}

.slider-item h2 {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
}

.slider-item p {
    color: #283136;
}

.slider .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 50px;
    color: #ffffff;
    font-weight: 500;
    line-height: 18px;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: #fb565a;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 50px;
    color: #ffffff;
    font-weight: 500;
    line-height: 18px;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: #fb565a; 
}

.btn:hover,
.btn:focus {
    background-color: #e74246
}

.btn:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
    color: rgba(255,255,255,0.3);
}

.btn.green {
    background-color: #00ca74;
}

.btn.green:hover,
.btn.green:focus {
    background-color: #00bc6c;
}

.btn.green:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #00aa62;
}

.btn.yellow {
    background-color: #efc84a;
}

.btn.yellow:hover,
.btn.yellow:focus {
    background-color: #eab534;
}

.btn.yellow:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #e5a722;
}

.feedback .btn {
    width: 219px;
    height: 50px;
}

.service {
    display: flex;
    min-width: 1400px;
    min-height: 509px;
}

.service-list {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 1100px;
    list-style: none;
    margin-top: 80px;
    margin-left: 140px;
    padding: 0;
    background-color: #ffffff;
}

.service-list-item h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.description {
    width: 260px;
    height: 41px;
    color: #283136;
}

.about-us .title {
    width: 650px;
    height: 87px;
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

.about-us .description {
    width: 616px;
    height: 40px;
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.list-title {
    font-weight: 700;
    text-transform: uppercase;
}

.about-us-list {
    padding: 0;
}

.about-us-item {
    list-style: none;
    font-weight: 400;
}

.statistic .title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.statistic-list {
    list-style: none;
    padding: 0;
}

.percent {
    font-size: 45px;
    font-weight: 700;
    line-height: 10.06px;
}

.statistic-item .description {
    width: 105px;
    height: 34px;
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.partners-list {
    list-style: none;
    padding: 0;
}

.partners-item a {
    opacity: 0.2;
}

.partners-item a:hover,
.partners-item a:focus {
    opacity:1;
}

.partners-item a:active {
    opacity: 0.1;
}

.catalog-header h1 {
    margin: 0;
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    background-color: #eeeeee;
}

.filters fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.filters legend {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.network-list p,
.network-list p:hover,
.network-list p:focus {
    margin: 0;
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.features-list p,
.features-list p:hover,
.features-list p:focus {
    margin: 0;
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.filters input {
    width: 260px;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #eeeeee;
}

.filters input:hover,
.filters input:focus {
    background-color: #dfdfdf;
}

.filters input:active {
    color: rgba(0,0,0,0.3);
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}

.sort h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}

.sort ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.user-sort-item a {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    opacity: 0.3;
    text-transform: uppercase;
}

.user-sort-item a:hover,
.user-sort-item a:focus {
    opacity: 0.6;
}

.user-sort-item a:active {
    color: #000000;
    opacity: 1;
}

.arrow-sort-item a {
    opacity: 0.2;
}

.arrow-sort-item a:hover,
.arrow-sort-item a:focus {
    opacity: 0.6;
}

.arrow-sort-item a:active {
    opacity: 1;
}

.catalog ul,
.pagination ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hidden h3 {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.hidden h3:hover,
.hidden h3:focus {
    color: #fb565a;
}

.hidden h3:active {
    color: #000000;
    opacity: 0.3;
}

.hidden .btn {
    width: 200px;
    height: 50px;
}

.hidden .btn:hover,
.hidden .btn:focus {
    width: 200px;
    height: 50px;
}

.hidden .btn:active {
    color: rgba(255,255, 255, 1);
}


.pagination-item a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
    background-color: #dfdfdf;
}

.pagination-item a:active {
    color: rgba(0,0,0,0.3);
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}

.pagination-item-current a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 3px solid #dbdbdb;
}

.pagination-item button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 50px;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #eeeeee;
}

.pagination-item button:hover,
.pagination-item button:focus {
    background-color: #dfdfdf;
}

.pagination-item button:active {
    color: rgba(0,0,0,0.3);
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}

.map img {
    display: block;
    background-color: #b5b5b5;
}

.feedback {
    width: 319px;
    height: 308px;
    background-color: #ffffff;
}

.feedback .title {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.feedback .adress {
    width: 240px;
    height: 71px;
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.social-list {
    list-style: none;
    padding: 0;
}

.prompt .prompt-appeal {
    width: 545px;
    height: 35px;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
}

.prompt .prompt-discount {
    width: 343px;
    height: 16px;
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}



.popup {
    display: none;
    width: 960px;
    height: 590px;
    color: #000000;
}

.write-us p {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

.write-us .half-width,
.write-us .text-letter {
   
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

.half--width.name input { 
    border: 2px solid #d7dcde;
    background-color: #ffffff;
}

.half--width.name input:hover {
    border: 2px solid #b4b9bb
}

.half--width.name input:focus {
    border: none;
    border: 2px solid #000000
}



