html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-header {
    padding-top: 49px;
    background-color: #eeeeee;
}

.catalog-header {
    padding-top: 49px;
    background-color: #eeeeee;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.navigation {
    display: flex;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    
}

.navigation-list {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 202px;
    padding-top: 6px;
    align-items: center;
    list-style: none;
    max-width: 700px;
    flex-wrap: wrap;
    
}

.navigation-list li:not(:last-child) {
    margin-right: 46px;
}

.user-area {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: auto;
    padding-top: 6px;
    align-items: center;
    list-style: none;   
}

.user-area .cart {
    display: inline-flex;
    position: relative;
    padding-left: 40px;
}

.user-area .cart::before {
    content: url(../img/cart-icon.svg);
    position: absolute;
    left: 0;
    top: 2px;
}

.logo:hover,
.logo:focus {
   opacity: 0.8; 
}

.logo:active {
    opacity: 0.3;
}

.navigation-list-item a,
.user-area a {
    color: #000000;
    position: relative;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}



.navigation-list-item .current::after {
    content: "";
    position: absolute;
    width: 75px;
    height: 2px;
    background-color: #fb565a;
    top: 29px;
    left: 0;
    
}

.navigation-list-item a:hover,
.navigation-list-item a:focus,
.user-area a:hover,
.user-area a:focus {
    color: #fb565a;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}

.navigation-list-item a:active,
.user-area a:active {
    opacity: 0.3;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}

.navigation-list-item .current:hover,
.navigation-list-item .current:focus,
.navigation-list-item .current:active {
    color: #000000;
}


.slider {
    background-color: #eeeeee;  
}

.slider .container {
    position: relative;
}

.slider-item {
    display: flex;
    margin: 0;
    padding: 0;      
}


.slider-text {
    margin: 0;
    padding: 0;
    max-width: 515px;
    flex-wrap: wrap;
    padding-top: 68px;
    padding-bottom: 80px;
}

.slider-item.slider-one {
    background-image: url("../img/slide-1.png");
    background-repeat: no-repeat;
    background-size: 698px 413px;
    background-position: right 31px bottom;

}

.slider-item.slider-two {
    background-image: url("../img/slide-2.png");
    background-repeat: no-repeat;
    background-size: 663px 430px;
    background-position: right bottom;
}

.slider-item.slider-three {
    background-image: url("../img/slide-3.png");
    background-repeat: no-repeat;
    background-size: 759px 411px;
    background-position: right bottom;
}

.slider-item h2 {
    margin: 0;
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
}

.slider-item p {
    margin: 0;
    color: #283136;
    margin-top: 26px;
    margin-bottom: 39px;
}

.slider .btn {   
    width: 240px;
}

.slider-three,
.slider-two {
    display: none;
}

.slider-control {
    display: flex;
    justify-content: space-between;
    width: 88px;
    position: absolute;
    left: calc(50% - 44px);
    top: 307px;
}

.control-item {
    margin: 0;
    padding: 0;
    border: 0;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.control-item::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border-radius: 50%;
    list-style: none;
    top: 0;

}

.control-item.active::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border: 2px solid #c6c6c6;
    border-radius: 50%;
    left: 5px;
    top: 5px;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 50px;
    color: #ffffff;
    font-weight: 500;
    line-height: 18px;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: #fb565a; 
}

.btn:hover,
.btn:focus {
    background-color: #e74246
}

.btn:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
    color: rgba(255,255,255,0.3);
}

.btn.green {
    background-color: #00ca74;
}

.btn.green:hover,
.btn.green:focus {
    background-color: #00bc6c;
}

.btn.green:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #00aa62;
}

.btn.yellow {
    background-color: #efc84a;
}

.btn.yellow:hover,
.btn.yellow:focus {
    background-color: #eab534;
}

.btn.yellow:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #e5a722;
}

.contacts .btn {
    width: 219px;
    height: 50px;
    margin-top: 38px;
    border-radius: 0;
}

.service {
    background-color: #ffffff;
}

.service-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 80px;
    padding-bottom: 80px;
    
}

.service-list li:not(:last-child) {
    margin-right: 100px;
}

.service-list-item h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 18px;
}

.service-list-item .description {
    margin: 0;
    padding: 0;
    width: 260px;
    height: 41px;
    color: #283136;
    margin-top: 17px;
    margin-bottom: 38px;
}



.studio-wrapper {
    display: flex;
    padding-bottom: 9px;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
}

.about-us {
    width: 650px;
    padding-top: 74px;
    padding-bottom: 63px;
}

.about-us .title {
    margin: 0;
    padding: 0;
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    margin-bottom: 35px;
}

.about-us .description {
    margin: 0;
    padding: 0;
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 38px;
}

.list-title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    text-transform: uppercase;
}

.about-us-list {
    margin: 0;
    padding: 0;
}

.about-us-item {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 400;
    margin-top: 24px;
    padding-left: 36px;
    position: relative
}

.about-us-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;

    width: 25px;
    height: 2px;
    background-color: #fb565a;
}

.statistic {
    margin: 0;
    padding: 0;
    margin-left: auto;
    padding-top: 248px;
    padding-bottom: 63px;
    padding-left: 32px;
    background-image: url("../img/nerds-illustration.png");
    background-repeat: no-repeat;
    background-size: 360px 208px;
    background-position: 32px 40px;
}

.statistic .title {
    margin: 0;
    padding: 0;
    padding-left: 17px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 36px;
}

.statistic-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 38px;
    margin-right: 16px;
}

.percent {
    margin: 0;
    padding: 0;
    font-size: 45px;
    font-weight: 700;
    line-height: 51px;
    margin-right: 17px;
}

.statistic-item .description {
    margin: 0;
    padding: 0;
    width: 105px;
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    padding-top: 17px;
}

.partners-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-top: 48px;
    padding-bottom: 32px;
    list-style: none;
    border-bottom: 2px solid #eeeeee;
    margin-bottom: 80px;
}

.partners-item {
    display: flex;
    position: relative;
}

.partners-list li:nth-child(1) {
    padding-left: 31px;
    padding-right: 50px;
    padding-top: 2px;
}

.partners-list li:nth-child(2) {
    padding-left: 46px;
    padding-right: 46px;
    padding-bottom: 3px;
}

.partners-list li:nth-child(3) {
    padding-left: 57px;
    padding-right: 57px;
    padding-bottom: 8px;
}

.partners-list li:nth-child(4) {
    padding-left: 63px;
    padding-bottom: 2px;
}

.partners-list li:not(:nth-child(2)) {
    padding-top: 2px;
}


.partners-item:not(:last-child)::after {
    content: "";
    position: absolute;
    background: #eeeeee;
    width: 2px;
    height: 52px;
    right: 0;
}

.partners-item:nth-child(1)::after {
    top: 6px;
}

.partners-item:nth-child(2)::after {
    top: 18px;
}

.partners-item a {
    opacity: 0.2;
}

.partners-item a:hover,
.partners-item a:focus {
    opacity:1;
}

.partners-item a:active {
    opacity: 0.1;
}

.catalog-header h1 {
    margin: 0;
    padding: 0;
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    padding-top: 68px;
    padding-bottom: 108px;
    text-align: center;
}

.catalog-wrap {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 58px;
    padding-bottom: 60px;
}



.filters {
    display: flex;
    margin: 0;
    padding: 0;
    width: 260px;
    padding-top: 3px;
    
}

.catalog {
    margin: 0;
    padding: 0;
    width: 760px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
}

.catalog-list li:nth-child(odd) {
    margin-right: 40px;
}

.catalog-list li:not(:last-child) {
    margin-bottom: 26px;
}

.network .range {
    margin-bottom: 60px;
    box-sizing: content-box;
}

.filters fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.range-filter {
    width: 260px;
    margin-top: 54px;
  }

.filters legend {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}

.range-controls {
    position: relative;
    
    height: 41px;
    margin-bottom: 12px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    
    background-color: #f1f1f1;
    
    border-radius: 5px;
}
  
.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}
  
.range-controls .bar {
    width: 70%;
    height: 2px;
  
    background: #00ca74;
}
  
.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    
    width: 4px;
    height: 4px;
    padding: 0;
  
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}
  
.range-controls .toggle-min {
    left: 19px;
}
  
.range-controls .toggle-max {
    left: 160px;
  }
  
  .price-controls {
    font-size: 0;
}
  
.price-controls label {
    display: inline-block;
    width: 50%;
    
    font-size: 16px;
    text-transform: uppercase;
}
  

  
.max-price {
    text-align: right;

}
 
.network .network-list {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

.network-list legend {
    margin-bottom: 13px;
}

.network-list p,
.network-list p:hover,
.network-list p:focus {
    margin: 0;
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 9px;
    padding-bottom: 11px;
    
}

.network-item label {
    position: relative;
    display: inline-block;
    padding-left: 35px;
    cursor: pointer;
}

.network-item label::before {
    position: absolute;
    left: 0;
    top: -2px;
    content: url("../img/radio-off.svg");
    opacity: 0.4;
}

.network-item input[type="radio"] {
    height: 20px;
}

.features-item input[type="checkbox"] {
    height: 20px;
}

.network-item input[type="radio"]:checked + label::before {
    content: url("../img/radio-on.svg");
    opacity: 0.4;
}

.network-item input[type="radio"]:hover + label::before,
.network-item input[type="radio"]:focus + label::before {
    opacity: 1;
}

.network-item input[type="radio"]:disabled + label::before {
    opacity: 0.1;
}

.network-item input[type="radio"]:disabled + label {
    opacity: 0.3;
}


.network .features-list {
    margin-bottom: 40px;
}

.features-list legend {
    margin-bottom: 12px;
}

.features-list p,
.features-list p:hover,
.features-list p:focus {
    margin: 0;
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.features-item label {
    position: relative;
    display: inline-block;
    padding-left: 36px;
    cursor: pointer;
}

.features-item label::before {
    position: absolute;
    content: url("../img/checkbox-off.svg");
    left: 0; 
    top: -2px;
    opacity: 0.4;
}


.features-item input[type="checkbox"]:checked + label::before {
    position: absolute;
    content: url("../img/checkbox-on.svg");
    left: 0;
    opacity: 0.4;
}


.features-item input[type="checkbox"]:hover + label::before,
.features-item input[type="checkbox"]:focus + label::before {
    opacity: 1;
}

.features-item input[type="checkbox"]:disabled + label::before {
    opacity: 0.1;
}

.features-item input[type="checkbox"]:disabled + label {
    opacity: 0.3;
}

.filters input {
    width: 260px;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #eeeeee;
    cursor: pointer;
}

.filters input:hover,
.filters input:focus {
    background-color: #dfdfdf;
}

.filters input:active {
    color: rgba(0,0,0,0.3);
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}

.price-controls input {
    width: 60px;
    height: 24px;
    padding: 8px 10px;
    margin-left: 10px;
    
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;
    
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.max-price input {
    margin-left: 8px;
}

.catalog .sort {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 58px;
}


.sort h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}

.sort .user-sort {
    font-size: 14px;
    line-height: 18px;
    margin-left: 266px;
}

.sort .arrow-sort {
    margin-left: auto;
}

.user-sort li:not(:last-child) {
    margin-right: 26px;
    flex-shrink: 0;
}

.sort ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.user-sort-item a {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    opacity: 0.3;
    text-transform: uppercase;
}

.user-sort-current a {
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
}

.user-sort-item a:hover,
.user-sort-item a:focus {
    color: #000000;
    opacity: 0.6;
}

.user-sort-item a:active {
    color: #000000;
    opacity: 1;
}

.arrow-sort {
    line-height: 18px;
}

.arrow-sort-item {
    margin-left: 18px;
}

.arrow-sort-current a {
    opacity: 1;
}

.arrow-sort-item a {
    opacity: 0.2;
}

.arrow-sort-item a:hover,
.arrow-sort-item a:focus {
    opacity: 0.6;
}

.arrow-sort-item a:active {
    opacity: 1;
}

.catalog-item {
    width: 360px;
}

.catalog-item .hidden {
    display: none;
    width: 360px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding-top: 35px;
    padding-bottom: 43px;
    background-color: #eeeeee;
    left: 0;
    bottom: 6px;
}

.catalog ul,
.pagination-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.catalog-list li {
    position: relative;
    margin-top: 40px;
}

.catalog-list li:nth-last-child(2) {
    margin-bottom: 0px;
}

.catalog-list li::before {
    content: url(../img/browser.svg);
    position: absolute;
    top: -40px;
    opacity: 0.12;
}

.catalog-item:hover::before {
    opacity: 1;
}

.catalog-item:hover img {
    box-shadow: 0 4px 11px 2px #d9d9d9;
}

.catalog-item:hover .hidden {
    display: flex;   
}

.hidden h3 {
    margin-top:0;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.hidden h3:hover,
.hidden h3:focus {
    color: #fb565a;
}

.hidden h3:active {
    color: #000000;
    opacity: 0.3;
}

.hidden p {
    margin: 0;
    margin-bottom: 30px;
    padding-left: 67px;
    padding-right: 50px;
    white-space: pre-line;
}

.hidden .btn {
    width: 200px;
    height: 50px;
}


.hidden .btn:active {
    color: rgba(255,255, 255, 1);
}

.pagination-list {
    display: flex;
}

.pagination-list li {
    margin-top: 53px;
}

.pagination-list li:not(:last-child) {
    margin-right: 11px;
}

.pagination-item a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    background-color: #eeeeee;
    border-radius: 5px;
    color: inherit;
}

.pagination-item a:hover,
.pagination-item a:focus {
    background-color: #dfdfdf;
}

.pagination-item a:active {
    color: rgba(0,0,0,0.3);
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}

.pagination-item-current a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-weight: 500;
    border: 3px solid #dbdbdb;
    border-radius: 5px;
}

.pagination-item button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 50px;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #eeeeee;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.pagination-item button:hover,
.pagination-item button:focus {
    background-color: #dfdfdf;
}

.pagination-item button:active {
    color: rgba(0,0,0,0.3);
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}

.map {
    position: relative;
    display: flex;  
    justify-content: center;  
    background-color: #b5b5b5;
}


.contacts {
    width: 319px;
    padding-top: 50px;
    padding-bottom: 47px;
    padding-left: 50px;
    background-color: #ffffff;

    position: absolute;
    left: calc(50% - 580px);
    top: 54px;
}

.contacts .title {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.contacts .address {
    margin: 0;
    padding: 0;
    width: 240px;
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    padding-left: 2px;
}

.contacts .phone {
    margin: 0;
    padding: 0;
    width: 240px;
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 16px;
    padding-left: 2px;
}

.adress,
.phone {
    padding-left: 2px;
}

.phone a {
    color: inherit;
}

.page-footer .container {
    display: flex;
    padding-top: 71px;
    padding-bottom: 76px;
}

.map iframe {
    width: 1216px;
    height: 416px;
    border: none;
    position: absolute;
}

.container .social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    list-style: none;
    max-width: 261px;
    margin-right: 139px;
}

.social-list  a {
    position: relative;
    display: flex;
    width: 79px;
    height: 79px;
    border-radius: 50%;
    background-color: #e1e1e1;
    cursor: pointer;
    
}

.social-item.vk a::before {
    content: url("../img/vk-icon.svg");
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    height: 18px;
    width: 26px;
    z-index: 1;   
}

.social-item.fb a::before {
    content: url("../img/fb-icon.svg");
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    height: 22px;
    width: 12px;
    z-index: 1;
}

.social-item.inst a::before {
    content: url("../img/insta-icon.svg");
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    height: 21px;
    width: 21px;
    z-index: 1;
}

.social-item a:hover,
.social-item a:focus {
    background-color: #e74246;
}

.social-item a:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}

.social-item:active a::before {
    opacity: 0.3;
}

.social-list li:not(:last-child) {
    margin-right: 12px;
}

.prompt {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;    
    min-width: 545px;
}

.prompt .prompt-appeal {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 12px;
    padding-top: 3px;
}

.prompt .prompt-discount {
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.popup {
    display: none;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 960px;
    padding: 100px;
    padding-top: 73px;
    padding-bottom: 84px;
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.write-us-title .button-close {
    padding: 0;
    margin: auto;
    position: relative;
    width: 21px;
    height: 21px;
    background-color: #ffffff;
    border: 0;
    cursor: pointer;
    opacity: 0.3;
}

.button-close::before,
.button-close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 1px;
    width: 19px;
    height: 3px;
    background-color: #e74246;
}

.button-close::before {
    transform: rotate(45deg);
}

.button-close::after {
    transform: rotate(-45deg);
}

.button-close:hover,
.button-close:focus,
.button-close:hover,
.button-close:focus {
    opacity: 1;
}

.button-close:active,
.button-close:active {
    opacity: 0.1;
}

.write-us-title {
    display: flex;
    justify-content: space-between;
    width: 760px;
    margin-bottom: 74px;
}


.letter-us {
    margin: 0;
    padding: 0;
    width: 740px;
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

.write-us-title button {
    margin-right: 90px;
}

.user-data {
    margin: 0;
    padding: 0;
    width: 760px;
    display: flex;
    margin-bottom: 36px;
}

.write-us label {
    margin-bottom: 12px;
}

.user-data input {
    height: 50px;
}

.user-data input {
    padding-left: 16px;
}


.user-data .half-width-name {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 360px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    margin-right: 55px;
}

.half-width-mail {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 360px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;

}

.write-us .text-letter {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 760px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    margin-right: 55px;
}

.text-letter textarea {
    margin-bottom: 47px;
    padding-top: 14px;
    padding-left: 15px;
    resize: none;
}

.half-width-name input,
.half-width-mail input,
.text-letter textarea { 
    border: 2px solid #d7dcde;
    background-color: #ffffff;
}

.half-width-name input:hover,
.half-width-mail input:hover,
.text-letter textarea:hover {
    border: 2px solid #b4b9bb
}

.half-width-name input:focus,
.half-width-mail input:focus,
.text-letter textarea:focus {
    border: none;
    border: 2px solid #000000
}

.send .btn {
    border: none;
    width: 260px;
}



